/* @import url('../../assets/scss/style.scss'); */
/* .profile-detail {
    padding: 30px;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    overflow: hidden;
    width: 100%;
}

.right-title {
    margin-bottom: 10px;
} */
.services{
    /* display: none; */
}
.skilsBox{}
.skilsBox h6{}
.skillsList{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
}
.skillsList li{
    margin-right: 5px;
    background: #f3f3f3;
    padding: 0px 10px 3px;
    line-height: 21px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.modal.show{
    background: rgba(0, 0, 0, 0.4);
}